#contenedor{
    font-family: 'Lexend';
    color: black;
    margin: 0 auto;
    text-align: center;
}
#actividades{
    text-decoration: underline;
}
h3{
    color: white;
    text-decoration: underline;
}
h5{
    font-size: 18px;
}
#descripcion{
    color: black;
}
#card{
    display: inline-block;
    background-color: white;
    border: 3px solid black;
    margin: 10px 20px;
    padding: 10px;
    transition: 0.5;
}
#card:hover{
    transform: scale(1.2);
}
#borrar{
    background-color: red;
    color: white;
}